{
    "development": {
        "username": "postgres",
        "password": "your_password_here",
        "database": "meg",
        "host": "127.0.0.1",
        "port": 5432,
        "dialect": "postgres"
    },
    "test": {
        "username": "postgres",
        "password": "your_password_here",
        "database": "meg_test",
        "host": "127.0.0.1",
        "port": 5432,
        "dialect": "postgres"
    },
    "production": {
        "username": "postgres",
        "password": "your_password_here",
        "database": "meg_prod",
        "host": "127.0.0.1",
        "port": 5432,
        "dialect": "postgres"
    }
}
